In [1]:
#set always gives unique values
s={1,2,3,1,1,4,5,7,7,8,}
s

{1, 2, 3, 4, 5, 7, 8}

In [2]:
s={1,2,3,1,1,4,5,7,7,"a","a","b",}
s

{1, 2, 3, 4, 5, 7, 'a', 'b'}

In [3]:
#sets dont have index value compared to list ,tuple and dictionary
s={1,2,3,1,1,4,5,7,7,8,}
s[0]

TypeError: 'set' object is not subscriptable

In [4]:
#it also has sorting based on the same number repition
s={1,2,3,11,1,444,5,7,77,8,}
s

{1, 2, 3, 5, 7, 8, 11, 77, 444}

In [ ]:
#1. union --> it gives all the combinations in a give set it also gives without duplicates
x={1,2,3,4}
y={1,2,3,4,5}
x.union(y)

{1, 2, 3, 4, 5}

In [7]:
#2. intersection -> it gives common elements in a given set
x.intersection(y)

{1, 2, 3, 4}

In [ ]:
# difference
x={6,5,4,3}
y={1,2,3,5,9}
x.difference(y)

{4, 6}

In [10]:
y.difference(x)

{1, 2, 9}

In [ ]:
x,y

({3, 4, 5, 6}, {1, 2, 3, 5, 9})

In [ ]:
#difference_update : 
x.difference_update(y)
x

{4, 6}

In [15]:
x,y

({4, 6}, {1, 2, 3, 5, 9})

In [17]:
y.difference_update(x)
y

{1, 2, 3, 5, 9}

In [18]:
x,y

({4, 6}, {1, 2, 3, 5, 9})

In [ ]:
# symmetric difference : it is a combination of union -(minus) intersection
x={1,2,3,4,5}
y={3,4,5,6}
x.symmetric_difference(y)

{1, 2, 6}

In [ ]:
#subset : a set where all of its elements are also members of another, larger set.
x={1,2,3,4,5}
y={3,4,5}
y.issubset(x)

True

In [ ]:
#superset : a set of elements containing all of the elements of another set
x={1,2,3,4,5}
y={3,4,5}
x.issuperset(y)

True

In [ ]:
# disjoint :  two sets are considered disjoint if they have no elements in common
x.isdisjoint(y)

False

In [26]:
class_a = {"Aarav", "Vivaan", "Aditya", "Rohan", "Yash", "Siddharth", "Manav", "Rahul"}
class_b = {"Riya", "Sneha", "Aditya", "Rahul", "Ishita", "Manav", "Kavya", "Yash"}

In [27]:
len(class_a.union(class_b)),len(class_a.intersection(class_b)),len(class_a.difference(class_b)),len(class_b.difference(class_a))

(12, 4, 4, 4)

In [28]:
class_a,class_b

({'Aarav', 'Aditya', 'Manav', 'Rahul', 'Rohan', 'Siddharth', 'Vivaan', 'Yash'},
 {'Aditya', 'Ishita', 'Kavya', 'Manav', 'Rahul', 'Riya', 'Sneha', 'Yash'})

In [29]:
class_a.symmetric_difference(class_b)

{'Aarav', 'Ishita', 'Kavya', 'Riya', 'Rohan', 'Siddharth', 'Sneha', 'Vivaan'}

In [30]:
class_b.symmetric_difference(class_a)

{'Aarav', 'Ishita', 'Kavya', 'Riya', 'Rohan', 'Siddharth', 'Sneha', 'Vivaan'}

In [31]:
# atleast -> union
# both -> intersection
# only -> difference

In [ ]:
# Boolean operatore
# True and False are the boolean operators
print(True)  #1
print(False)  #0

True
False

In [1]:
### arithmetic operators
a=10
b=30
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

40
-20
300
0.3333333333333333
10
0
1000000000000000000000000000000

In [7]:
s=11 #normal assignment
s+=10 #compound assignment (s=s+10)
s-=10
s/2

5.5

In [8]:
x=20
x=-20
x+=20
x

0

In [9]:
x=99
x+=20
x//=2
x/2

29.5

In [ ]:
#comparision operators
x=25
y=20
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)
print(x==y)
print(x!=y)
s=20
t=20
print(s!=t) #here if two variable nubers are equal then it gives output as false

True
True
False
False
False
True
False

In [17]:
# Logical operators and,or,not
x=20
y=10

x>10 and y>10

False

In [18]:
print(True and True) # True
print(True and False) # False
print( False and True) # False
print(False and False) # False


print(True or True) # True
print(True or False) # True
print( False or True) # True
print(False or False) #False



print(not(True or True)) #False
print(not(True or False)) # False
print(not( False or True)) # False
print(not(False or False)) # True

True
False
False
False
True
True
True
False
False
False
False
True

In [ ]:
# identity operators is ,is not
# membership operators in, not in

In [20]:
x = [1, 2, 3]
y = x       # Shallow copy (actually, it's not even a copy â€” it's just another reference to the same list)
z = [1, 2, 3]  # Deep copy (new list with same values)

print(x is y)  # True, because x and y refer to the same object in memory
print(x is z)  # False, because x and z are different objects with the same content
print(x is not y)
print(x is not z)

True
False
False
True

In [21]:
1 in [1,2,3,4]

True

In [22]:
1 in (1,2,3)

True

In [23]:
"s" in "science"

True

In [24]:
1 in {2,3,4,5,1}

True

In [25]:
1 in {1:"data", 2:"science"}

True

In [26]:
## bin() method
bin(31)

'0b11111'

In [28]:
bin(20)

'0b10100'

In [ ]:
# bitwiswe operators &,|,~

In [34]:
print(31 & 28)
print(31 | 28)
print(~31)  #~x = -(x+1)
print(~28)  #~x = -(x+1)

28
31
-32
-29