In [ ]:
# scope of functions
# nested functions
# recursive functions

In [2]:
# scope of functions
# local, enclosing, global, builtin
x=10
def fun():
    print("value of x is:",x)
fun()

value of x is: 10

In [3]:
x=100
def show():
    x=50    # local variable(different from global x)
    print("inside function:",x)
show()
print("outside function",x)

inside function: 50
outside function 100

In [8]:
def add():
    a=10 # local variable
    b=20
    return a+b
print(add())
#print(a)    # NameError: name 'a' is not defined

30

In [ ]:
def outer():
    msg="Hello"   # Enclosing Variable
    def inner():
        print(msg) # Access enclosing scope
    inner()
outer()

Hello

In [ ]:
msg="test"   # Global variable 'msg' with value "test"
def outer():
    msg="Hello"   # Enclosing Variable
    def inner():
        print(msg) # Access enclosing scope
    inner()
outer()

Hello

In [14]:
msg="test"     # Global variable 'msg' with value "test"
def outer():
    msg="Hello"   # Enclosing Variable
    def inner():
        msg='abc'     # Local variable inside 'inner' (shadows outer 'msg')
        print(msg)  # Prints the local 'msg' from 'inner', so output will be 'abc'
    inner()
outer()

abc

In [15]:
def fun1(x):
    def fun2():
        return "fun2"
    def fun3():
        return "fun3"
    if x%2==0:
        return fun2()
    else:
        return fun3()

fun1(10)

'fun2'

In [16]:
def calculator(a,b):
    def add(): return a+b
    def sub(): return a-b
    def mul(): return a*b
    def div(): return a/b if b!=0 else "Divide by zero error"
    return add(),sub(),mul(),div()
print(calculator(10,5))
print(calculator(10,0))

(15, 5, 50, 2.0)
(10, 10, 0, 'Divide by zero error')

In [20]:
def text_processor(sentence):
    def clean(text):
        return text.lower().replace(".","").replace(",","")
    def count_words(text):
        return len(text.split())
    
    cleaned=clean(sentence)
    return cleaned,count_words(cleaned)
print(text_processor("Hello, Python World."))

('hello python world', 3)

In [27]:
txt="Hello, Python World."
x=txt.lower().replace(".","").replace(",","").split(",")
print(x)
print(len(x))

['hello python world']
1

In [30]:
def power_fun(exp):
    def inner(base):
        return base ** exp
    return inner
square = power_fun(2)
cube = power_fun(3)
print(square(5),cube(3))

25 27

In [44]:
def voting_system():
    votes={"A":0,"B":0}
    def vote(candidate):
        if candidate in votes:
            votes[candidate]+=1
            return votes
    return vote
vote=voting_system()
print(vote("A"))
print(vote("B"))
print(vote("A"))

{'A': 1, 'B': 0}
{'A': 1, 'B': 1}
{'A': 2, 'B': 1}

In [47]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
fact(5)

120

In [51]:
def fibo(n):
    if n<=1:
        return 1
    else:
        return fibo(n-1)+fibo(n-2)
for i in range(6):
    print(fibo(i))

1
1
2
3
5
8

In [52]:
# apply() functions

In [53]:
import numpy as np
import pandas as pd
data = {
    "Name": [
        "Asha Hassan", "Dilli Babu N", "Ekanth Reddy T",
        "Parameshwar D", "Preethi B V", "Shubrati",
        "Sravanthi Veluru", "Supriya Moudgal"
    ],
    "Age": [24, 29, 35, 40, 27, 31, 36, 28],
    "Salary": [48000, 55000, 72000, 80000, 60000, 51000, 75000, 64000],
    "Department": ["HR", "IT", "Finance", "IT", "HR", "Finance", "IT", "HR"]
}

df = pd.DataFrame(data)
print(df)

               Name  Age  Salary Department
0       Asha Hassan   24   48000         HR
1      Dilli Babu N   29   55000         IT
2    Ekanth Reddy T   35   72000    Finance
3     Parameshwar D   40   80000         IT
4       Preethi B V   27   60000         HR
5          Shubrati   31   51000    Finance
6  Sravanthi Veluru   36   75000         IT
7   Supriya Moudgal   28   64000         HR

In [54]:
df['Salary'].apply(lambda x:x**2)

0    2304000000
1    3025000000
2    5184000000
3    6400000000
4    3600000000
5    2601000000
6    5625000000
7    4096000000
Name: Salary, dtype: int64

In [58]:
df['Name'].apply(str.upper)

0         ASHA HASSAN
1        DILLI BABU N
2      EKANTH REDDY T
3       PARAMESHWAR D
4         PREETHI B V
5            SHUBRATI
6    SRAVANTHI VELURU
7     SUPRIYA MOUDGAL
Name: Name, dtype: object

In [60]:
df['Name'].apply(str.isalpha)

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
Name: Name, dtype: bool

In [64]:
df['Salary'].apply(lambda x:"high" if x>50000 else "low")

0     low
1    high
2    high
3    high
4    high
5    high
6    high
7    high
Name: Salary, dtype: object

In [68]:
def tax(row):
    if row['Salary']>70000:
        return row["Salary"]*0.3
    else:
        return row['Salary']*0.2
df['Tax']=df.apply(tax,axis=1)
df

               Name  Age  Salary Department      Tax
0       Asha Hassan   24   48000         HR   9600.0
1      Dilli Babu N   29   55000         IT  11000.0
2    Ekanth Reddy T   35   72000    Finance  21600.0
3     Parameshwar D   40   80000         IT  24000.0
4       Preethi B V   27   60000         HR  12000.0
5          Shubrati   31   51000    Finance  10200.0
6  Sravanthi Veluru   36   75000         IT  22500.0
7   Supriya Moudgal   28   64000         HR  12800.0