In [1]:
###############   DICTIONARY ASSIGNMENT CONTINUTION #############

In [2]:
# Question 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}
print("\nQuestion 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}")
# Your code here
dict={'list':list,'dict':dict,'set':set}
dict

Question 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}

{'list': list, 'dict': dict, 'set': set}

In [ ]:
# Question 28: Create instances using class dictionary
print("\nQuestion 28: Create instances using class dictionary")
# Your code here

In [3]:
# Question 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}
print("\nQuestion 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}")
# Your code here
d={'a':None,'b':None,'c':None}
d

Question 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}

{'a': None, 'b': None, 'c': None}

In [4]:
# Question 30: Replace all None values with 0
print("\nQuestion 30: Replace all None values with 0")
# Your code here
d={'a':None,'b':None,'c':None}
for i in d:
    d[i]=0
print(d)

Question 30: Replace all None values with 0
{'a': 0, 'b': 0, 'c': 0}

In [5]:
# Question 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}
print("\nQuestion 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}")
# Your code here
dt={'is_active':True,'is_admin':False}
dt

Question 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}

{'is_active': True, 'is_admin': False}

In [11]:
# Question 32: Count True values in boolean dictionary
print("\nQuestion 32: Count True values in boolean dictionary")
# Your code here
dt={'is_active':True,'is_admin':False}
c=0
for i in dt:
    if dt[i]==True:
        c+=1
print(c)

Question 32: Count True values in boolean dictionary
1

In [12]:
# Question 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}
print("\nQuestion 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}")
# Your code here
d={'z1': 3+4j, 'z2': 1+2j}
d

Question 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}

{'z1': (3+4j), 'z2': (1+2j)}

In [21]:
# Question 34: Find magnitude of each complex number
print("\nQuestion 34: Find magnitude of each complex number")
# Your code here
d={'z1': 3+4j, 'z2': 1+2j}
for i in d:
    d[i]=abs(d[i])
print(d)

Question 34: Find magnitude of each complex number
{'z1': 5.0, 'z2': 2.23606797749979}

In [25]:
# Question 35: Create a 4-level nested dictionary
print("\nQuestion 35: Create a 4-level nested dictionary")
# Your code here
d={'company':{'department':{'section':{ 'employee':{'name':"rakesh",'age':22}}}}}
d

Question 35: Create a 4-level nested dictionary

{'company': {'department': {'section': {'employee': {'name': 'rakesh',
     'age': 22}}}}}

In [26]:
# Question 36: Access deepest value in 4-level nested dictionary
print("\nQuestion 36: Access deepest value in 4-level nested dictionary")
# Your code here
d={'company':{'department':{'section':{ 'employee':{'name':"rakesh",'age':22}}}}}
d['company']['department']['section']['employee']['age']

Question 36: Access deepest value in 4-level nested dictionary

22

In [27]:
# Question 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}
print("\nQuestion 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}")
# Your code here
r={'r1': range(3), 'r2': range(5)}
r

Question 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}

{'r1': range(0, 3), 'r2': range(0, 5)}

In [34]:
# Question 38: Convert each range to list
print("\nQuestion 38: Convert each range to list")
# Your code here
r={'r1': range(3), 'r2': range(5)}
for i in r:
    r[i]=list(r[i])
print(r)

Question 38: Convert each range to list
{'r1': [0, 1, 2], 'r2': [0, 1, 2, 3, 4]}

In [35]:
# Question 39: Create a dictionary with generator values
print("\nQuestion 39: Create a dictionary with generator values")
# Your code here

Question 39: Create a dictionary with generator values

In [ ]:
# Question 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}
print("\nQuestion 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}")
# Your code here
d={'matrix':[[1,2],[3,4]],'vector':[5,6,7]}
d

Question 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

{'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

In [55]:
# Question 44: Find sum of each nested list
print("\nQuestion 44: Find sum of each nested list")
# Your code here
e={'matrix':[[1,2],[3,4]],'vector':[5,6,7]}
for key, value in d.items():
    if isinstance(value[0], list):
        e[key] = [sum(inner) for inner in value]
    else:
        e[key] = sum(value)
print(e)

Question 44: Find sum of each nested list
{'matrix': [3, 7], 'vector': 18}

In [56]:
# Question 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}
print("\nQuestion 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}")
# Your code here
r={'config': {'db': {'host': 'localhost', 'port': 5432}}}
r

Question 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}

{'config': {'db': {'host': 'localhost', 'port': 5432}}}

In [57]:
# Question 46: Access database port from nested configuration
print("\nQuestion 46: Access database port from nested configuration")
# Your code here
r={'config': {'db': {'host': 'localhost', 'port': 5432}}}
r['config']['db']['port']

Question 46: Access database port from nested configuration

5432

In [58]:
# Question 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
print("\nQuestion 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}")
# Your code here
nt={'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
nt

Question 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

{'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

In [61]:
# Question 48: Extract first point coordinates
print("\nQuestion 48: Extract first point coordinates")
# Your code here
nt={'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
nt['points'][0]

Question 48: Extract first point coordinates

(1, 2)

In [67]:
# Question 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}
print("\nQuestion 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}")
# Your code here
s={'groups': [{1, 2, 3}, {4, 5, 6}],'categories': [{'a', 'b'}, {'c', 'd'}]}
s

Question 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}

{'groups': [{1, 2, 3}, {4, 5, 6}], 'categories': [{'a', 'b'}, {'c', 'd'}]}

In [ ]:
# Question 50: Find union of all nested sets
print("\nQuestion 50: Find union of all nested sets")
# Your code here 
x = {'groups': [{1, 2, 3}, {4, 5, 6}], 'categories': [{'a', 'b'}, {'c', 'd'}]}
result = {}
union_set = set()
for key, value in x.items():
    for s in value:
        union_set = union_set.union(s)
    result[key] = union_set
print(result)

Question 50: Find union of all nested sets
{'groups': {1, 2, 3, 4, 5, 6}, 'categories': {1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd'}}

In [69]:
#################### SET ASSIGNMENT ##############################

In [70]:
# SOLVED EXAMPLE
# --------------
# Question: Find the union of two sets
print("SOLVED EXAMPLE:")
print("Find the union of two sets")
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union: {union_set}")
print("-" * 50)

SOLVED EXAMPLE:
Find the union of two sets
Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
--------------------------------------------------

In [81]:
# Question 1: Create a set of first 10 natural numbers
print("Question 1: Create a set of first 10 natural numbers")
# Your code here
n=int(input())
d=set()
for i in range(1,n+1):  
    d.add(i) 
print(d)

Question 1: Create a set of first 10 natural numbers
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [83]:
# Question 2: Add element 11 to set {1, 2, 3, 4, 5}
print("\nQuestion 2: Add element 11 to set {1, 2, 3, 4, 5}")
# Your code here
s={1,2,3,4,5}
s.add(11)
s

Question 2: Add element 11 to set {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5, 11}

In [84]:
# Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
print("\nQuestion 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}")
# Your code here
s={1,2,3,4,5,6}
s.remove(3)
s

Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}

{1, 2, 4, 5, 6}

In [85]:
# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
# Your code here
a={1,2,3,4,5}
b={4,5,6,7,8}
a.intersection(b)

Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

{4, 5}

In [86]:
# Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
# Your code here
x={1,2,3,4,5}
y={4,5,6,7,8}
x.difference(y)

Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

{1, 2, 3}

In [87]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
print("\nQuestion 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}")
# Your code here
5 in {1,2,3,4,6,7,8}

Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}

False

In [88]:
# Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
print("\nQuestion 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}")
# Your code here
z={'a','b','c','d','e'}
len(z)

Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}

5

In [89]:
# Question 8: Create a set of vowels from string "hello world"
print("\nQuestion 8: Create a set of vowels from string 'hello world'")
# Your code here
s="hello world"
t=set()
for i in s:
    if i in "aeiou":
        t.add(i)
print(t)

Question 8: Create a set of vowels from string 'hello world'
{'o', 'e'}

In [90]:
# Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
print("\nQuestion 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set")
# Your code here
lst=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
x=set(lst)
x

Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set

{1, 2, 3, 4, 5, 6, 7}

In [91]:
# Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
print("\nQuestion 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}")
# Your code here 
a={1,2,3}
b={1,2,3,4,5,6}
a.issubset(b)

Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}

True

In [ ]:
#################### BOOLEAN ASSIGNMENT ################

In [92]:
# SOLVED EXAMPLE
# --------------
# Question: Check if a number is both even and greater than 10
print("SOLVED EXAMPLE:")
print("Check if a number is both even and greater than 10")
number = 16
is_even = number % 2 == 0
is_greater_than_10 = number > 10
result = is_even and is_greater_than_10
print(f"Number: {number}")
print(f"Is even: {is_even}")
print(f"Is greater than 10: {is_greater_than_10}")
print(f"Both conditions: {result}")
print("-" * 50)

SOLVED EXAMPLE:
Check if a number is both even and greater than 10
Number: 16
Is even: True
Is greater than 10: True
Both conditions: True
--------------------------------------------------

In [94]:
# Question 1: Check if 25 is greater than 20 and less than 30
print("Question 1: Check if 25 is greater than 20 and less than 30")
# Your code here
print(25>20 and 25<30)

Question 1: Check if 25 is greater than 20 and less than 30
True

In [95]:
# Question 2: Check if string "python" is equal to "Python" (case sensitive)
print("\nQuestion 2: Check if string 'python' is equal to 'Python' (case sensitive)")
# Your code here
print("python"=="Python")

Question 2: Check if string 'python' is equal to 'Python' (case sensitive)
False

In [98]:
# Question 3: Check if 15 is divisible by both 3 and 5
print("\nQuestion 3: Check if 15 is divisible by both 3 and 5")
# Your code here
if 15/3 and 15/5:
    print("Yes")
else:
    print("False")

Question 3: Check if 15 is divisible by both 3 and 5
Yes

In [99]:
# Question 4: Check if 7 is not equal to 8
print("\nQuestion 4: Check if 7 is not equal to 8")
# Your code here
print(7!=8)

Question 4: Check if 7 is not equal to 8
True

In [100]:
# Question 5: Check if 100 is greater than 50 or less than 25
print("\nQuestion 5: Check if 100 is greater than 50 or less than 25")
# Your code here
print(100>50 or 100<25)

Question 5: Check if 100 is greater than 50 or less than 25
True

In [101]:
# Question 6: Check if 0 is falsy in Python
print("\nQuestion 6: Check if 0 is falsy in Python")
# Your code here
0 in[False]

Question 6: Check if 0 is falsy in Python

True

In [103]:
# Question 7: Check if empty string "" is falsy in Python
print("\nQuestion 7: Check if empty string '' is falsy in Python")
# Your code here
' ' in [False]

Question 7: Check if empty string '' is falsy in Python

False

In [ ]:
# Question 8: Check if 42 is truthy in Python
print("\nQuestion 8: Check if 42 is truthy in Python")
# Your code here
n=int(input())
42 in [n]

Question 8: Check if 42 is truthy in Python

True

In [112]:
# Question 9: Check if 10 is between 5 and 15 (inclusive)
print("\nQuestion 9: Check if 10 is between 5 and 15 (inclusive)")
# Your code here
print(5<=10<=15)

Question 9: Check if 10 is between 5 and 15 (inclusive)
True

In [113]:
# Question 10: Check if 3.14 is greater than 3 and less than 4
print("\nQuestion 10: Check if 3.14 is greater than 3 and less than 4")
# Your code here 
print(3<3.14<4)

Question 10: Check if 3.14 is greater than 3 and less than 4
True

In [ ]:
###############  NONE ASSIGNMENT ####################

In [114]:
# SOLVED EXAMPLE
# --------------
# Question: Check if a variable is None
print("SOLVED EXAMPLE:")
print("Check if a variable is None")
variable = None
is_none = variable is None
print(f"Variable: {variable}")
print(f"Is None: {is_none}")
print("-" * 50)

SOLVED EXAMPLE:
Check if a variable is None
Variable: None
Is None: True
--------------------------------------------------

In [115]:
 #Question 1: Create a variable and assign None to it
print("Question 1: Create a variable and assign None to it")
# Your code here
VAR='None'
VAR

Question 1: Create a variable and assign None to it

'None'

In [117]:
# Question 2: Check if None equals None
print("\nQuestion 2: Check if None equals None")
# Your code here
print(None==None)

Question 2: Check if None equals None
True

In [118]:
# Question 3: Check if None is None
print("\nQuestion 3: Check if None is None")
# Your code here
print(None is None)

Question 3: Check if None is None
True

In [120]:
# Question 4: Check if 0 is None
print("\nQuestion 4: Check if 0 is None")
# Your code here
print(0 is None)

Question 4: Check if 0 is None
False

In [122]:
# Question 5: Check if empty string is None
print("\nQuestion 5: Check if empty string is None")
# Your code here
' ' is None

Question 5: Check if empty string is None

False

In [123]:
# Question 6: Check if False is None
print("\nQuestion 6: Check if False is None")
# Your code here
False is None

Question 6: Check if False is None

False

In [125]:
# Question 7: Check if empty list is None
print("\nQuestion 7: Check if empty list is None")
# Your code here
[] is None

Question 7: Check if empty list is None

False

In [126]:

# Question 8: Check if empty dictionary is None
print("\nQuestion 8: Check if empty dictionary is None")
# Your code here
{} is None

Question 8: Check if empty dictionary is None

False

In [127]:
# Question 9: Check if empty tuple is None
print("\nQuestion 9: Check if empty tuple is None")
# Your code here
() is None

Question 9: Check if empty tuple is None

<>:4: SyntaxWarning: "is" with 'tuple' literal. Did you mean "=="?
C:\Users\P VENKATA RAKESH\AppData\Local\Temp\ipykernel_5456\3583823357.py:4: SyntaxWarning: "is" with 'tuple' literal. Did you mean "=="?
  () is None

False

In [128]:
# Question 10: Check if empty set is None
print("\nQuestion 10: Check if empty set is None")
# Your code here 
{} is None

Question 10: Check if empty set is None

False

In [ ]:
############## COMPLEX ASIGNMEMNT ##############

In [129]:
# SOLVED EXAMPLE
# --------------
# Question: Create a complex number and find its conjugate
print("SOLVED EXAMPLE:")
print("Create a complex number and find its conjugate")
z = 3 + 4j
conjugate = z.conjugate()
magnitude = abs(z)
print(f"Complex number: {z}")
print(f"Conjugate: {conjugate}")
print(f"Magnitude: {magnitude}")
print("-" * 50)

SOLVED EXAMPLE:
Create a complex number and find its conjugate
Complex number: (3+4j)
Conjugate: (3-4j)
Magnitude: 5.0
--------------------------------------------------

In [130]:
# Question 1: Create complex number 5 + 3j
print("Question 1: Create complex number 5 + 3j")
# Your code here
X=5+3j
X

Question 1: Create complex number 5 + 3j

(5+3j)

In [135]:
# Question 2: Find the real part of complex number 7 - 2j
print("\nQuestion 2: Find the real part of complex number 7 - 2j")
# Your code here
c=7-2j
c.real

Question 2: Find the real part of complex number 7 - 2j

7.0

In [136]:
# Question 3: Find the imaginary part of complex number 4 + 6j
print("\nQuestion 3: Find the imaginary part of complex number 4 + 6j")
# Your code here
x=4+6j
x.imag

Question 3: Find the imaginary part of complex number 4 + 6j

6.0

In [137]:
# Question 4: Add two complex numbers: (3 + 2j) and (1 + 4j)
print("\nQuestion 4: Add two complex numbers: (3 + 2j) and (1 + 4j)")
# Your code here
x=3+2j
y=1+3j
print(x+y)

Question 4: Add two complex numbers: (3 + 2j) and (1 + 4j)
(4+5j)

In [139]:
# Question 5: Multiply two complex numbers: (2 + 3j) and (1 + 2j)
print("\nQuestion 5: Multiply two complex numbers: (2 + 3j) and (1 + 2j)")
# Your code here
x=(2+3j)
y=(1+2j)
print(x*y)

Question 5: Multiply two complex numbers: (2 + 3j) and (1 + 2j)
(-4+7j)

In [143]:
# Question 6: Find the magnitude of complex number 6 + 8j
print("\nQuestion 6: Find the magnitude of complex number 6 + 8j")
# Your code here
import math
x=6+8j
magnitude=abs(x)
print(magnitude)

Question 6: Find the magnitude of complex number 6 + 8j
10.0

In [145]:
# Question 7: Find the conjugate of complex number 5 - 7j
print("\nQuestion 7: Find the conjugate of complex number 5 - 7j")
# Your code here
x=5-7j
y=x.conjugate()
print(y)

Question 7: Find the conjugate of complex number 5 - 7j
(5+7j)

In [146]:
# Question 8: Subtract complex numbers: (10 + 5j) - (3 + 2j)
print("\nQuestion 8: Subtract complex numbers: (10 + 5j) - (3 + 2j)")
# Your code here
print((10 + 5j) - (3 + 2j))

Question 8: Subtract complex numbers: (10 + 5j) - (3 + 2j)
(7+3j)

In [147]:
# Question 9: Divide complex numbers: (8 + 6j) / (2 + 1j)
print("\nQuestion 9: Divide complex numbers: (8 + 6j) / (2 + 1j)")
# Your code here
print((8 + 6j) / (2 + 1j))

Question 9: Divide complex numbers: (8 + 6j) / (2 + 1j)
(4.4+0.8j)

In [148]:
# Question 10: Find the phase angle of complex number 1 + 1j
print("\nQuestion 10: Find the phase angle of complex number 1 + 1j")
# Your code here 
import cmath
x=1+1j
y=cmath.phase(x)
y

Question 10: Find the phase angle of complex number 1 + 1j

0.7853981633974483