In [46]:
####################  LIST ASSIGNMENT  #######################

In [47]:
print("SOLVED EXAMPLE:")
print("Find the maximum and minimum values in a list")
numbers = [23, 45, 12, 67, 34, 89, 56]
max_val = max(numbers)
min_val = min(numbers)
print(f"List: {numbers}")
print(f"Maximum: {max_val}")
print(f"Minimum: {min_val}")
print("-" * 50)

SOLVED EXAMPLE:
Find the maximum and minimum values in a list
List: [23, 45, 12, 67, 34, 89, 56]
Maximum: 89
Minimum: 12
--------------------------------------------------

In [48]:
# Question 1: Create a list of first 10 square numbers
print("Question 1: Create a list of first 10 square numbers")
# Your code here
l=[]
for i in range(1,11):
    x=i**2
    l.append(x)
print(l)

Question 1: Create a list of first 10 square numbers
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
# Your code here
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_sum=0
for i in l:
    if i%2==0:
        even_sum+=i
print(even_sum)

Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
30

In [50]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
# Your code here
l=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
s=set(l)
x=list(s)
x
# ----------------- or -----------------
# s=[]       
# for i in l:
#     if i not in s:
#         s.append(i)     
# print(s)

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

In [51]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")
# Your code here
x=[64, 34, 25, 12, 22, 11, 90]
x.sort(reverse=True)
x

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

[90, 64, 34, 25, 22, 12, 11]

In [52]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")
# Your code here
s=[15, 23, 31, 42, 56, 78, 91]
t=sum(s)/len(s)
t

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

48.0

In [54]:
# Question 6: Create a list of first 15 Fibonacci numbers
print("\nQuestion 6: Create a list of first 15 Fibonacci numbers")
# Your code here
l=15
fib=[]
for i in range(0,l+1):
    if i==0:
        fib.append(i)
    elif i==1:
        fib.append(i)
    else:
        d=fib[i-1]+fib[i-2]
        fib.append(d)  
print(fib)

Question 6: Create a list of first 15 Fibonacci numbers
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [58]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
# Your code here
# l=[45, 67, 23, 89, 12, 34, 78]
# l.sort(reverse=True)
# print(l[1])
# -------------------or---------------------

l=[45, 67, 23, 89, 12, 34, 78]
d=max(l)
res=[]
for i in l:
    if i<d:
        res.append(i)
print(max(res))

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
78

In [59]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
# Your code here
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x.reverse()
x

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [61]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")
# Your code here
c=[1, 5, 2, 5, 3, 5, 4, 5, 6]
c.count(5)

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]

4

In [77]:
# Question 10: Create a list of prime numbers between 1 and 50
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")
# Your code here
l=[]
n=50
for i in range(2,n+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
            l.append(i)
print(l)

Question 10: Create a list of prime numbers between 1 and 50
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [82]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here 
lst=[[1, 2, 3], [4, 5, 6], [7, 8, 9]] 
s=[]
for i in lst:
    s.extend(i)
print(s)

Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
print("\nQuestion 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")
# Your code here
x=[1, 2, 3, 4, 5]
y=[4, 5, 6, 7, 8]
z=[]
d=set(x)
a=set(y)
d.intersection(a)
z=list(d)
z

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

[1, 2, 3, 4, 5]

In [ ]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")
# Your code here

l= [[1, 2], [3, 4], [5, 6]]
print(l)

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]

In [89]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
l=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
d=[]
for i in l:
    x=sum(i)
    d.append(x)
print(d)

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[6, 15, 24]

In [ ]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
l=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[7, 8, 9] [7, 8, 9]

In [92]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")
# Your code here
x=[[1, 5, 3], [9, 2, 7], [4, 8, 6]]
res=[]
for i in x:
    z=max(i)
    res.append(z)
print(res)

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
[5, 9, 8]

In [ ]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
# Your code here

In [104]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
lst=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
s=[]
for i in lst:
    s.extend(i)
a=[]
for j in s:
    if j%2==0:
        a.append(j)
print(a)

Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[2, 4, 6, 8]

In [107]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
print("\nQuestion 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")
# Your code here
x=[1, "hello", 3.14, True, [1, 2, 3]]
print(x)

Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]
[1, 'hello', 3.14, True, [1, 2, 3]]

In [123]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")
# Your code here
x=["apple", "banana", "cherry", "date"]
# print(len(x[0]),len(x[1]),len(x[2]),len(x[3]))
for i in x:
    print(len(i),end=" ")

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']
5 6 6 4

In [ ]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")
# Your code here
a=[(1, 'a'), (2, 'b'), (3, 'c')]
a

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]

In [138]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")
# Your code here
st=[(1, 'a'), (2, 'b'), (3, 'c')]
x=tuple(st)
for i in x:
    print(i[0],end=" ")

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
1 2 3

In [139]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print("\nQuestion 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")
# Your code here
d=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print(d)

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [172]:
# Question 25: Extract all 'name' values from list of dictionaries
print("\nQuestion 25: Extract all 'name' values from list of dictionaries")
# Your code here
d=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
t=[]
for i in d:
    x=i['name']
    t.append(x)
print(t)

Question 25: Extract all 'name' values from list of dictionaries
['Alice', 'Bob']