In [ ]:
#########   List  Assignment Continuation ########

In [7]:
# Question 26: Find the person with maximum age in list of dictionaries
print("\nQuestion 26: Find the person with maximum age in list of dictionaries")
# Your code here
x=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
d=[]
for i in x:
    u=i['age']
    d.append(u)
print(max(d))

Question 26: Find the person with maximum age in list of dictionaries
30

In [10]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
print("\nQuestion 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]")
# Your code here
x= [
    [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
    , [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]
    ]
print(x)

Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [ ]:
# Question 28: Find the maximum value in 4D list
print("\nQuestion 28: Find the maximum value in 4D list")
# Your code here

In [11]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print("\nQuestion 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]")
# Your code here
x=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print(x)

Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [26]:
# Question 30: Find the union of all sets in list of sets
print("\nQuestion 30: Find the union of all sets in list of sets")
# Your code here
y=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
res=set.union(*y)
res

Question 30: Find the union of all sets in list of sets

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
print("\nQuestion 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]")
# Your code here
c=[1+2j, 3+4j, 5+6j]
print(c)

Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
[(1+2j), (3+4j), (5+6j)]

In [29]:
# Question 32: Find the magnitude of each complex number in list
print("\nQuestion 32: Find the magnitude of each complex number in list")
# Your code here
x=[(1+2j), (3+4j), (5+6j)]
for i in x:
    magnitude=abs(i)
    print(magnitude)

Question 32: Find the magnitude of each complex number in list
2.23606797749979
5.0
7.810249675906654

In [ ]:
############# Tuple Assignment ################

In [30]:
print("SOLVED EXAMPLE:")
print("Find the sum and product of all elements in a tuple")
numbers = (2, 4, 6, 8, 10)
sum_tuple = sum(numbers)
product = 1
for num in numbers:
    product *= num
print(f"Tuple: {numbers}")
print(f"Sum: {sum_tuple}")
print(f"Product: {product}")
print("-" * 50)

SOLVED EXAMPLE:
Find the sum and product of all elements in a tuple
Tuple: (2, 4, 6, 8, 10)
Sum: 30
Product: 3840
--------------------------------------------------

In [ ]:
# Question 1: Create a tuple of first 10 natural numbers
print("Question 1: Create a tuple of first 10 natural numbers")
# Your code here
# n=(1,2,3,4,5,6,7,8,9,10)
# print(n)
#--------------------------- or ------------------------------
x=tuple(range(1,11))
print(x)

Question 1: Create a tuple of first 10 natural numbers
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [38]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("\nQuestion 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)")
# Your code here
x=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
len(x)

Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

10

In [39]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
print("\nQuestion 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')")
# Your code here
x=('a', 'b', 'c', 'd', 'e')
print(x[2])

Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
c

In [40]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
print("\nQuestion 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)")
# Your code here
x=(23, 45, 12, 67, 34, 89, 56)
max(x)

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)

89

In [41]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
print("\nQuestion 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)")
# Your code here
z=(1, 5, 2, 5, 3, 5, 4, 5, 6)
z.count(5)

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)

4

In [42]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
print("\nQuestion 6: Create a tuple of mixed data types (integer, float, string, boolean)")
# Your code here
t=(10,10.0,"10",True)
print(t)

Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
(10, 10.0, '10', True)

In [44]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
print("\nQuestion 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')")
# Your code here
t=('java', 'python', 'c++', 'javascript')
t.index('python')

Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')

1

In [46]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
print("\nQuestion 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)")
# Your code here
25 in(10, 20, 30, 40, 50)

Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)

False

In [ ]:
# Question 9: Create a tuple of first 5 even numbers
print("\nQuestion 9: Create a tuple of first 5 even numbers")
# s=[]
# n=int(input())
# for i in range(1,n+1):
#         s.append(i*2)
# z=tuple(s)
# print(z)
# ----------------- or----------------------------------
s = []
i = 2
while len(s) < 5:
    s.append(i)
    i += 2

z = tuple(s)
print(z)

Question 9: Create a tuple of first 5 even numbers
(2, 4, 6, 8, 10)

In [52]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")
# Your code here 
t=(15, 23, 31, 42, 56, 78)
x=sum(t)/len(t)
x

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)

40.833333333333336

In [ ]:
##################  DICTIONARY ASSIGNMENT ################

In [12]:
# SOLVED EXAMPLE
# --------------
# Question: Find the key with maximum value in a dictionary
print("SOLVED EXAMPLE:")
print("Find the key with maximum value in a dictionary")
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 95, 'Eve': 88}
max_key = max(scores, key=scores.get)
max_value = scores[max_key]
print(f"Dictionary: {scores}")
print(f"Key with maximum value: {max_key}")
print(f"Maximum value: {max_value}")
print("-" * 50)

SOLVED EXAMPLE:
Find the key with maximum value in a dictionary
Dictionary: {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 95, 'Eve': 88}
Key with maximum value: Diana
Maximum value: 95
--------------------------------------------------

In [14]:
# Question 1: Create a dictionary of student names and their ages
print("Question 1: Create a dictionary of student names and their ages")
# Your code here
D={'ARUN':22,'NIKHIL':23,'RAKESH':22,'HARIKA':21}
print(D)

Question 1: Create a dictionary of student names and their ages
{'ARUN': 22, 'NIKHIL': 23, 'RAKESH': 22, 'HARIKA': 21}

In [ ]:
# Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
print("\nQuestion 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}")
# Your code here
d={'a': 1, 'b': 2, 'c': 3}
d['d']=4  # or d.update('d',4)
d

Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [16]:
# Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
print("\nQuestion 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}")
# Your code here
d={'name': 'John', 'age': 25, 'city': 'New York'}
d.keys()

Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}

dict_keys(['name', 'age', 'city'])

In [17]:
# Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
print("\nQuestion 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}")
# Your code here
d={'python': 3, 'java': 2, 'c++': 1}
d.values()

Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}

dict_values([3, 2, 1])

In [18]:
# Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
print("\nQuestion 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}")
# Your code here
'age' in {'name': 'Alice', 'age': 30, 'city': 'London'}

Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}

True

In [28]:
# Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
print("\nQuestion 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}")
# Your code here
D={'a': 1, 'b': 2, 'temp': 3, 'c': 4}
D.pop('temp')
D

Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}

{'a': 1, 'b': 2, 'c': 4}

In [32]:
# Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
print("\nQuestion 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}")
# Your code here
D={'math': 85, 'science': 92, 'english': 78}
x=D.values()
sum(x)

Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}

255

In [42]:
# Question 8: Create a dictionary with squares of numbers 1 to 5
print("\nQuestion 8: Create a dictionary with squares of numbers 1 to 5")
# Your code here
d={}
n=int(input())
for i in range(1,n+1):
    values=i**2
    d[i]=values    # syntax : d[key]=value
print(d)

Question 8: Create a dictionary with squares of numbers 1 to 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [56]:
# Question 9: Count frequency of each character in string "hello"
print("\nQuestion 9: Count frequency of each character in string 'hello'")
# Your code here
d={}
n='hello'
for i in n:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

Question 9: Count frequency of each character in string 'hello'
{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [65]:
# Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}
print("\nQuestion 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}")
# Your code here
d1={'a': 1, 'b': 2}
d2={'c': 3, 'd': 4}
# d3={}
# for i in d1:
#     d3[i]=d1[i]
# for j in d2:
#     d3[j]=d2[j] 
# print(d3) 
# ---------------- or --------------------------------      
# d3=d1.copy()
# d3.update(d2)
# d3
#-----------------or -----------------
d3=d1|d2
d3

Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [66]:
# Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}
print("\nQuestion 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}")
# Your code here
d={'person':{'name':'Alice','age':25,'gender': 'Male'}}
print(d)

Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}
{'person': {'name': 'Alice', 'age': 25, 'gender': 'Male'}}

In [73]:
# Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}
print("\nQuestion 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}")
# Your code here
d={'person': {'name': 'Alice', 'age': 25}}
d['person']['name']

Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}

'Alice'

In [75]:
# Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
print("\nQuestion 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}")
# Your code here
lst={'fruits':['apple','banana'],'colors':['red','blue']}
lst

Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

{'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

In [82]:
# Question 14: Add 'orange' to the 'fruits' list in nested dictionary
print("\nQuestion 14: Add 'orange' to the 'fruits' list in nested dictionary")
# Your code here
lst={'fruits':['apple','banana'],'colors':['red','blue']}
lst['fruits'].append('orange')
lst

Question 14: Add 'orange' to the 'fruits' list in nested dictionary

{'fruits': ['apple', 'banana', 'orange'], 'colors': ['red', 'blue']}

In [83]:
# Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
print("\nQuestion 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}")
# Your code here
d= {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
d

Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}

{'coordinates': (10, 20), 'rgb': (255, 0, 0)}

In [84]:
# Question 16: Extract first coordinate from nested tuple
print("\nQuestion 16: Extract first coordinate from nested tuple")
# Your code here
d={'coordinates': (10, 20), 'rgb': (255, 0, 0)}
d['coordinates'][0]

Question 16: Extract first coordinate from nested tuple

10

In [85]:
# Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
print("\nQuestion 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}")
# Your code here
dic={'vowels':{'a','e','i'},'consonants':{'b','c','d'}}
dic

Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}

{'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}

In [90]:
# Question 18: Add 'o' to vowels set in nested dictionary
print("\nQuestion 18: Add 'o' to vowels set in nested dictionary")
# Your code here
x={'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
x['vowels'].update('o')
x

Question 18: Add 'o' to vowels set in nested dictionary

{'vowels': {'a', 'e', 'i', 'o'}, 'consonants': {'b', 'c', 'd'}}

In [91]:
# Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
print("\nQuestion 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}")
# Your code here
dict={'company':{'department':{'employee':{'name':'jhon','id':123}}}}
dict

Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

{'company': {'department': {'employee': {'name': 'jhon', 'id': 123}}}}

In [93]:
# Question 20: Access employee name from 3-level nested dictionary
print("\nQuestion 20: Access employee name from 3-level nested dictionary")
# Your code here
dict['company']['department']['employee']['name']

Question 20: Access employee name from 3-level nested dictionary

'jhon'

In [94]:
# Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
print("\nQuestion 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}")
# Your code here
x={'int':42,'float':3.14,'str':"rakesh",'bool':True}
x

Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

{'int': 42, 'float': 3.14, 'str': 'rakesh', 'bool': True}

In [ ]:
# Question 22: Check data type of each value in mixed dictionary
print("\nQuestion 22: Check data type of each value in mixed dictionary")
# Your code here
y={'int': 42, 'float': 3.14, 'str': 'rakesh', 'bool': True}    
for i in y:
    print(type(y[i]))

# for key ,values in y.items():
#     print(type(values))

Question 22: Check data type of each value in mixed dictionary
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [123]:
# Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}
print("\nQuestion 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}")
# Your code here
d={'len':len,'str':str,'int':int}
d

Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}

{'len': <function len(obj, /)>, 'str': str, 'int': int}

In [131]:
# Question 24: Apply each function to "123" using dictionary
print("\nQuestion 24: Apply each function to '123' using dictionary")
# Your code here
x={'len':len,'str':str,'int':int}
values='123'
for i in x:
    x[i]=x[i](values)
print(x)

Question 24: Apply each function to '123' using dictionary
{'len': 3, 'str': '123', 'int': 123}

In [126]:
# Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}
print("\nQuestion 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}")
# Your code here
d={'double': lambda x: x*2, 'square': lambda x: x**2}
d

Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}

{'double': <function __main__.<lambda>(x)>,
 'square': <function __main__.<lambda>(x)>}

In [154]:
# Question 26: Apply each lambda function to 5
print("\nQuestion 26: Apply each lambda function to 5")
# Your code here
d = {
    'double': lambda x: x * 2,
    'square': lambda x: x ** 2
}

result = {}
for key, func in d.items():
    result[key] = func(5)

print(result)

Question 26: Apply each lambda function to 5
{'double': 10, 'square': 25}